@use 'solarized';

:root {
  --silphium-c-background-1: var(--solarized-c-base3);
  --silphium-c-background-2: var(--solarized-c-base2);
  --silphium-c-content-1: var(--solarized-c-base1);
  --silphium-c-content-2: var(--solarized-c-base00);
  --silphium-c-content-3: var(--solarized-c-base03);

  --silphium-c-accent-1: var(--solarized-c-yellow);
  --silphium-c-accent-2: var(--solarized-c-orange);
  --silphium-c-accent-3: var(--solarized-c-red);
  --silphium-c-accent-4: var(--solarized-c-magenta);
  --silphium-c-accent-5: var(--solarized-c-violet);
  --silphium-c-accent-6: var(--solarized-c-blue);
  --silphium-c-accent-7: var(--solarized-c-cyan);
  --silphium-c-accent-8: var(--solarized-c-green);
}

:root {
  --color-background: var(--silphium-c-background-1);
  --color-background-soft: var(--silphium-c-background-2);

  --color-border: var(--silphium-c-content-1);

  --color-text: var(--silphium-c-content-3);
  --color-text-inactive: var(--silphium-c-content-1);
}
