.faction-header {
  font-size: 32pt;
  display: grid;
  gap: 8px;
  grid:
    'icon main' auto
    / 128px auto;
  max-width: calc(100vw - 64px);

  .main {
    grid-area: main;
    justify-self: center;
    display: grid;
    grid:
      'name' auto
      'eras' auto
      / 1fr;
    align-content: center;

    .name {
      grid-area: name;
      align-self: center;
      text-align: center;
    }
    .eras {
      grid-area: eras;
      align-self: center;
      justify-self: center;
      display: flex;
      flex-direction: row;

      .era {
        font-size: 12pt;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
        border: 1px solid transparent;
        padding: 8px;
        cursor: pointer;
        color: lightgrey;
        filter: saturate(0%) opacity(80%);

        img {
          width: 64px;
        }

        &:hover,
        &:focus,
        &.checked {
          color: var(--color-text);
        }
        &.checked {
          filter: unset;
          border: 1px dotted grey;
        }
      }
    }
  }
  .icon {
    grid-area: icon;
    align-self: center;
    height: 128px;
    width: 128px;
  }
}
