.roster {
  display: flex;
  gap: 2rem;
  flex-flow: row wrap;

  .roster-group {
    display: flex;
    flex-flow: row;
    align-items: start;
    gap: 2px;
    @media (orientation: portrait) {
      flex-flow: column;
    }

    .unit-cards {
      display: flex;
      flex-flow: row wrap;
    }

    .legend {
      display: flex;
      width: 60px;
      height: 60px;
      min-width: 60px;
      margin: 2px;
    }
  }
}
