.help-dialog {
  display: grid;
  padding: 1rem;
  grid:
    'help-l card help-r details' 460px
    / 1fr min-content 1fr 256px;
  gap: 12px;
  align-content: center;
  align-items: center;

  .unit-card {
    grid-area: card;
    .frame {
      .abilities {
        position: relative;
      }
    }

    .row {
      border: 1px dashed;
      border-radius: 4px;
      position: relative;

      &::before {
        content: ' ';
        position: absolute;
        left: -14px;
        display: inline-block;
        width: 14px;
        height: 0px;
        border-top: 2px dotted;
        grid-row: 1;
        grid-column: 1;
        place-self: center start;
        border-color: inherit;
      }

      &.name {
        border-color: var(--silphium-c-content-3);
        &::before {
          top: 0.5rem;
          left: -12px;
          width: 12px;
        }
      }

      &.size-row {
        border-color: var(--silphium-c-accent-5);
      }
      &.cost-row {
        border-color: var(--silphium-c-accent-2);
      }
      &.upkeep-row {
        border-color: var(--silphium-c-accent-7);
      }
      &.mental-row {
        border-color: var(--silphium-c-accent-4);
      }
      &.terrain {
        border-color: var(--silphium-c-accent-1);
      }
      &.weapons {
        border-color: var(--silphium-c-accent-3);
      }
      &.defenses {
        border-color: var(--silphium-c-accent-6);
      }

      &.abilities {
        border-color: var(--silphium-c-accent-8);
        &::before {
          left: unset;
          right: -14px;
        }
      }

      &.pool {
        border-color: var(--silphium-c-content-2);
        &::before {
          left: unset;
          right: -14px;
        }
      }
    }
  }

  .descr {
    font-size: 14pt;

    > button {
      font-size: smaller;
    }

    &.right {
      grid-area: help-r;
      display: grid;
      gap: 2px;
      grid:
        '.' 3rem
        '.' 28px
        '.' 28px
        '.' 28px
        '.' 28px
        'abilities' 28px
        'abilities' 28px
        'abilities' 28px
        '.' 28px
        '.' 0
        'pool' 28px
        / max-content;
      place-items: center start;

      .abilities {
        grid-area: abilities;
      }
      .pool {
        grid-area: pool;
      }
    }

    &.left {
      grid-area: help-l;
      display: grid;
      gap: 2px;
      grid:
        'name' 3rem
        'soldiers' 28px
        'cost' 28px
        'upkeep' 28px
        'mental' 28px
        'terrain' 28px
        'weapons' 28px
        'weapons' 28px
        'defense' 28px
        'defense' 0
        '.' 28px
        / max-content;
      place-items: center end;

      .name {
        grid-area: name;
        align-self: end;
      }
      .soldiers {
        grid-area: soldiers;
      }
      .cost {
        grid-area: cost;
      }
      .upkeep {
        grid-area: upkeep;
      }
      .mental {
        grid-area: mental;
      }
      .terrain {
        grid-area: terrain;
      }
      .weapons {
        grid-area: weapons;
      }
      .defenses {
        grid-area: defense;
      }
    }

    &.details {
      $gap: 2px;
      $icon-size: 24px;
      $image-width: 82px;
      $frame-columns: // padding icon leftover image+ability+ability padding
        0px $icon-size 1fr calc($image-width - 2 * $icon-size - 2 * $gap)
        $icon-size $icon-size 0px;
      display: flex;
      flex-flow: column;
      height: 100%;
      overflow: hidden;
      justify-content: center;

      $soldiers-color: var(--silphium-c-accent-4);
      $officers-color: var(--silphium-c-accent-6);
      $cost-color: var(--silphium-c-accent-1);
      $turns-color: var(--silphium-c-accent-7);
      $upkeep-color: var(--silphium-c-accent-4);
      $morale-color: var(--silphium-c-accent-2);
      $strength-color: var(--silphium-c-accent-3);
      $lethality-color: var(--silphium-c-accent-5);
      $defense-color: var(--silphium-c-accent-8);
      $interval-color: var(--silphium-c-accent-3);
      $max-color: var(--silphium-c-accent-5);

      details {
        display: flex;
        flex-flow: column;
        gap: 0.2rem;

        &:has(~ details[open]) {
          display: none;
        }

        .weapon1-row {
          border-color: var(--silphium-c-accent-3);
        }
        .defense1-row {
          border-color: var(--silphium-c-accent-6);
        }

        .abilities {
          height: unset;
        }

        summary {
          display: flex;
          align-items: center;
          font-size: smaller;
          cursor: pointer;
        }

        + details {
          margin-top: 8px;
        }

        .help-table {
          display: grid;
          grid-template-columns: 28px max-content;
          grid-template-rows: 28px;
          column-gap: 0.5rem;
          row-gap: 2px;
          place-items: center start;
          font-size: smaller;
          margin-left: 1rem;

          strong {
            font-weight: bold;
          }

          .icon {
            height: 24px;
            width: 24px;
          }

          .soldiers {
            color: $soldiers-color;
          }
          .officers {
            color: $officers-color;
          }
          //   .cost {
          //     color: $cost-color;
          //   }
          //   .turns {
          //     color: $turns-color;
          //   }
          //   .upkeep {
          //     color: $upkeep-color;
          //   }
          .morale {
            color: $morale-color;
          }
          .strength {
            color: $strength-color;
          }
          .lethality {
            color: $lethality-color;
          }
          .defense {
            color: $defense-color;
          }

          .replenish {
            color: $turns-color;
          }

          .interval {
            color: $interval-color;
          }

          .cross {
            font-weight: bold;
            font-size: larger;
            margin-left: 4px;
            place-self: center;
          }

          .max {
            color: $max-color;
          }
        }

        &[open] {
          & ~ details {
            display: none;
          }

          summary {
            .size-row {
              .soldiers {
                color: $soldiers-color;
              }
              .officers {
                color: $officers-color;
              }
            }

            // .cost-row {
            //   .cost {
            //     color: $cost-color;
            //   }
            //   .turns {
            //     color: $turns-color;
            //   }
            // }

            // .upkeep-row {
            //   .upkeep {
            //     color: $upkeep-color;
            //   }
            // }

            .mental-row {
              .morale {
                color: $morale-color;
              }
            }

            .weapon1-row {
              .strength {
                color: $strength-color;
              }
              .lethality {
                color: $lethality-color;
              }
            }

            .defense1-row {
              .strength {
                color: $defense-color;
              }
            }

            .pool {
              .average {
                color: $turns-color;
              }
              .interval {
                color: $interval-color;
              }
              .max {
                color: $max-color;
              }
            }
          }
        }

        .unit-card {
          row-gap: 0;
          grid-template-rows: 0 min-content;

          .row::before {
            content: unset;
          }

          .frame {
            border: none;
            row-gap: 0;

            &:has(.size-row) {
              grid-template-rows: 28px 0 0 0 0 0 0 0 0;
            }
            &:has(.cost-row) {
              grid-template-rows: 0 28px 0 0 0 0 0 0 0;
            }
            &:has(.upkeep-row) {
              grid-template-rows: 0 0 28px 0 0 0 0 0 0;
            }
            &:has(.mental-row) {
              grid-template-rows: 0 0 0 28px 0 0 0 0 0;
            }
            &:has(.terrain) {
              grid-template-rows: 0 0 0 0 28px 0 0 0 0;
            }
            &:has(.weapon1-row) {
              grid-template-rows: 0 0 0 0 0 28px 0 0 0;
            }
            &:has(.defense1-row) {
              grid-template-rows: 0 0 0 0 0 0 0 28px 0;
            }
            &:has(.abilities) {
              grid-template-rows: 0 0 0 0 28px 0 0 0 0;
              grid-template-columns: 0 0 0 0 24px 24px 0;
            }
          }

          &:has(.pool) {
            grid-template-rows: 0 0 min-content;
          }
        }
      }
    }
  }
}
